body {
    min-height: 100vh;
}

.pt-15 {
    padding: 0 0 0 0;
}

.pb-15 {
    padding: 0 0 0 0;
}

.h-100-px {
    height: 100px;
}

.bg-secondary {
    padding: 10px 15px;

}

.-mt-15-px {
    margin-top: -15px;
}

.bg-grey {
    background-color: #6c757d;
}

.col-20 {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 15px;
}

.col-20>div {
    min-height: 100px;
}

@media (min-width: 768px) {
    .col-20 {
        flex: 0 0 20%;
        max-width: 20%;
        position: relative;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 15px;
    }

    .pt-15 {
        padding: 15px 0 0 0;
    }

    .pb-15 {
        padding: 0 0 15px 0;
    }
}
